<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12" style="height:100px;"></div>
  </div>
  <div class="row">
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4">
      <div class="card card-block">
        <h2>Log in <a href="#"><em class="pull-right">close</em></a></h2>

        <%= form_tag admin_sessions_path do %>
          <fieldset class="form-group">
            <%= label_tag :email %>
            <%= text_field_tag :email, params[:email], autofocus: true, class: "form-control" %>
          </fieldset>

          <fieldset class="form-group">
            <%= label_tag :password %>
            <%= password_field_tag :password, '', class: "form-control" %>
          </fieldset>

          <%= submit_tag "登 录", class: "btn btn-primary btn-lg btn-block" %>

        <% end %>

      </div>
    </div>
    <div class="col-sm-4">

    </div>
  </div>

</div>
