<%= render 'navbar' %>

<table class="table">
  <tbody>
  <% @notifications.each do |notification| %>
    <% if not notification.content_path.blank? %>
    <tr>
      <th scope="row"><%= formattime(notification.created_at, :unit => 'hour') %></th>
      <td><%= notification.title %></td>
      <td><%= notification.content %></td>
      <td>
        <a href="<%= notification.content_path %>">跳转</a>
      </td>
      <td>
        <a href="<%= read_cpanel_notification_path(notification) %>" class="btn btn-primary-outline btn-sm">
          <%= notification.read ? "已读" : "未读" %>
        </a>
        <%= link_to "删除", cpanel_notification_path(notification), :class => "btn btn-primary-outline btn-sm", :method => :delete %>
      </td>
    </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
<%= will_paginate @notifications, renderer: BootstrapPagination::Rails %>
