<% if not current_merchant.shop.blank? %>
  <% if @categories.count >= 1 %>
    <table class="table">
      <thead>
        <tr>
          <td colspan="4">
            <a href="<%= new_cpanel_category_path %>" class="btn btn-primary-outline btn-sm">添加</a>
          </td>
        </tr>
      </thead>
      <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td scope="row">1</td>
          <td><%= category.name %></td>
          <td>
            <a href="<%= edit_cpanel_category_path(category) %>" class="btn btn-primary-outline btn-sm">修改</a>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <p>
      还未添加任何分类，<a href="<%= new_cpanel_category_path %>">现在添加？</a>
    </p>
  <% end %>
<% else %>
<p>
  还未拥有店铺，<a href="<%= new_cpanel_shop_path %>">现在创建？</a>
</p>
<% end %>