<%= form_for [:cpanel, OrderProduct.new] do |f| %>
<%= hidden_field_tag "order_id", @order.id %>
<table class="table">
  <thead>
    <th width="60">
      选中
    </th>
    <th>
      名称
    </th>
    <th>
      数量
    </th>
    <th>
      单价
    </th>
    <th>
      分类
    </th>
  </thead>
  <tbody>
    <% @products.each do |product| %>
    <tr>
      <td>
        <i class="fa fa-check-square-o" style="display:none;" id="products_quantity_<%= product.id %>_check"></i>
        <%= hidden_field_tag "products_quantity[#{product.id}]", "0", :id => "products_quantity_#{product.id}" %>
      </td>
      <td>
        <%= product.name %>
      </td>
      <td class="productQuantityController">
        <a href="#" class="decrease" data-id="<%= product.id %>">
          －
        </a>
        <span id="products_quantity_<%= product.id %>_show">0</span>
        <a href="#" class="increase" data-id="<%= product.id %>">
          ＋
        </a>
      </td>
      <td>
        ¥ <%= product.price %>
      </td>
      <td>
        <%= product.category.name if not product.category.blank? %>
      </td>
    </tr>
    <% end %>
  </tbody>

</table>
<% end %>
