<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <%= render 'admin/shared/left_bar' %>
    </div>
    <div class="col-sm-9">
      <div class="card card-block right-content">
        <table class="table">
          <thead>
            <tr>
              <th>订单编号</th>
              <th>时间</th>
              <th>状态</th>
              <th>所属店铺</th>
              <th>
                送货
              </th>
              <th>
                支付方式
              </th>
              <th>价格</th>
            </tr>
          </thead>
          <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td><%= order.sn %></td>
              <td>
                <%= formattime(order.created_at, :unit => "hour") %>
              </td>
              <td>
                <%= order.status.text %>
              </td>
              <td>
                <%= order.shop.name %>
              </td>
              <td>
                <%= order.send_method.text %>
              </td>
              <td>
                <%= order.pay_method.text %>
              </td>
              <td>￥<%= order.total_price %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
