<%= render 'navbar' %>
<% if not current_merchant.shop.blank? %>
  <% if @workers.count >= 1 %>
    <table class="table">
      <thead>
        <tr>
          <th>名称 <i class="fa fa-sort"></i></th>
          <th>手机IMEI码 <i class="fa fa-sort"></i></th>
          <th>
            入职时间 <i class="fa fa-sort"></i>
          </th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
      <% @workers.each do |worker| %>
        <tr>
          <td><%= worker.name %></td>
          <td><%= worker.imei %></td>
          <td>
            <%= formattime(worker.created_at, :unit => 'day') %>
          </td>
          <td>
            <a href="<%= edit_cpanel_worker_path(worker) %>" class="btn btn-primary-outline btn-sm">修改</a>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= will_paginate @workers, renderer: BootstrapPagination::Rails %>
  <% else %>
    <p>
      还未添加任何员工，<a href="<%= new_cpanel_worker_path %>">现在添加？</a>
    </p>
  <% end %>
<% else %>
<p>
  还未拥有店铺，<a href="<%= new_cpanel_shop_path %>">现在创建？</a>
</p>
<% end %>
