<% if not current_merchant.shop.blank? %>
  <% if @workers.count >= 1 %>
    <table class="table">
      <thead>
        <tr>
          <td colspan="4">
            <a href="<%= new_cpanel_room_path %>" class="btn btn-primary-outline btn-sm">添加</a>
          </td>
        </tr>
      </thead>
      <tbody>
      <% @workers.each do |worker| %>
        <tr>
          <th scope="row">1</th>
          <td><%= worker.name %></td>
          <td><%= worker.imei %></td>
          <td>
            <a href="<%= edit_cpanel_worker_path(worker) %>" class="btn btn-primary-outline btn-sm">修改</a>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <p>
      还未添加任何员工，<a href="<%= new_cpanel_worker_path %>">现在添加？</a>
    </p>
  <% end %>
<% else %>
<p>
  还未拥有店铺，<a href="<%= new_cpanel_shop_path %>">现在创建？</a>
</p>
<% end %>