<% cache(["api", "v1"], expires_in: 1.days) do %>
<div class="card card-block api-doc">
  <div class="panel-heading">
    <h4 class="card-title">Ruby China API 目录</h4>
  </div>
  <div class="card-block markdown">
    <h4>Response 说明</h4>
    <p>所有 Response 采用 JSON 格式返回，请求状态通过 HTTP Status 返回</p>
    <h5>HTTP Status</h5>
    <ul>
      <li>200, 201 - 请求成功，或执行成功</li>
      <li>400 - 参数不符合 API 的要求、或者数据格式验证没有通过，请配合 Response Body 里面的 error 信息确定问题。</li>
      <li>401 - 用户认证失败，或缺少认证信息，比如 access_token 过期，或没传。</li>
      <li>403 - 当前用户对资源没有操作权限</li>
      <li>404 - 资源不存在。</li>
      <li>500 - 服务器异常</li>
    </ul>
    <p>错误的情况 Response Body 一定会是这样的格式: <code>{ "error" : "Error message" }</code></p>

    <h4>API 路由</h4>

    <p>URL 基本路径：<%= request.protocol %><%= Setting.domain %>/api/v1</p>
    <div class="row">
      <div class="col-md-3">
        <ul class="route-list">
          <% @routes.each do |route| %>
          <% if route[:desc] != "" %>
          <li><%= route[:method] %> <a href="#route-<%= route[:id] %>"><%= route[:name] %></a></li>
          <% end %>
          <% end %>
        </ul>
      </div>
      <div class="routes col-md-9">
        <% @routes.each do |route| %>
        <% if route[:desc] != "" %>
        <div class="route" id="route-<%= route[:id] %>">
          <h5><label><%= route[:method] %></label> <%= route[:name] %></h5>
          <div class="content">
            <div class="desc markdown"><%= markdown(route[:desc] || "暂无") %></div>
            <% if route[:params].count > 0 %>
            <h6>Params</h6>
            <table class="table table-striped table-bordered params">
              <thead>
                <th>参数名</th>
                <th>类型</th>
                <th>必填</th>
                <th>默认值</th>
                <th>值范围</th>
                <th>说明</th>
              </thead>
              <tbody>
                <% route[:params].each do |k,param| %>
                <%
                if not param.is_a?(Hash)
                  param = { type: "String", required: true, desc: "主键" }
                end
                %>
                <tr>
                  <td class="field"><%= k %></td>
                  <td class="type"><%= param[:type] %></td>
                  <td class="required"><%= param[:required] %></td>
                  <td class="default"><%= param[:default] %></td>
                  <td class="values"><%= param[:values] %></td>
                  <td><%= markdown(param[:desc] || "") %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
            <% end %>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>
