<!DOCTYPE html>
<html>
  <head>
    <title>简餐</title>
    <%= stylesheet_link_tag    'welcome', media: 'all' %>
    <%= javascript_include_tag 'welcome' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="header">
      <nav class="navbar navbar-fixed-top navbar-light bg-faded">
        <div class="container">
          <a href="<%= welcome_index_path %>">
            <%= image_tag("logo.png") %>
          </a>
          <ul id="menu" class="nav navbar-nav pull-xs-right">
            <li class="nav-item small-sreen-hide active" data-menuanchor="firstPage">
              <a class="nav-link hvr-underline-from-center" href="#firstPage" style="color:#FFF;">软件下载</a>
            </li>
            <li class="nav-item small-sreen-hide" data-menuanchor="secondPage">
              <a class="nav-link hvr-underline-from-center" href="#secondPage" style="color:#FFF;">功能简介</a>
            </li>
            <li class="nav-item small-sreen-hide" data-menuanchor="3rdPage">
              <a class="nav-link hvr-underline-from-center" href="#3rdPage" style="color:#FFF;">应用场景</a>
            </li>
            <li class="nav-item small-sreen-hide" data-menuanchor="4thpage">
              <a class="nav-link hvr-underline-from-center" href="#4thpage" style="color:#FFF;">案例分享</a>
            </li>
            <li class="nav-item small-sreen-hide" data-menuanchor="lastPage">
              <a class="nav-link hvr-underline-from-center" href="#lastPage" style="color:#FFF;">联系我们</a>
            </li>
            <li class="nav-item small-sreen-hide">
              <span class="nav-link" style="color:#FFF;">|</span>
            </li>
            <li class="nav-item small-sreen-hide">
              <span class="nav-link">
                <a href="http://jiancan.me/cpanel.html" style="color:#FFF;" target="_blank">商家后台</a>
              </span>
            </li>
            <li class="nav-item small-sreen-hide">
              <span class="nav-link">
                <a href="<%= welcome_apply_path %>" style="color:#FFF;">品牌入驻</a>
              </span>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div id="fullpage">
      <div class="section view-page view-page-1">
        <div class="container">
          <div class="content">
            <h1>智慧 云餐厅</h1>
            <div class="separator-container">
                <div class="separator line-separator">∎</div>
            </div>
            <h5>全面覆盖预订、排队、预点菜、外卖、堂点、快餐、支付、会员等应用场景的一体化互联网餐饮解决方案</h5>
          </div>
        </div>
      </div>
      <div class="section view-page view-page-2">
        <div class="container">
          <div class="content">
            <div class="row">
              <div class="col-sm-6">
              </div>
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-block">
                    <h2 class="card-title">简餐卖家版</h2>
                    <p class="card-text">为服务人员配备的手机点菜设备，支持点菜、取号、收银等多种功能；在配送人员的手机上安装还可以实时定位配送员地理位置。</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">官网版本：1.0  |  运行环境：android 4.4 以上、ios 8 以上</li>
                  </ul>
                  <div class="card-block">
                    <a href="#" class="card-link btn btn-primary btn-lg">
                      <i class="fa fa-android"></i> 安卓版本
                    </a>
                    <a href="#" class="card-link btn btn-primary btn-lg">
                      <i class="fa fa-apple"></i> 苹果版本
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section view-page view-page-3">
        <div class="container">
          <div class="content">
            <h1>再小的餐厅</h1>
            <h1>也有自己的品牌</h1>
            <h5>创建微信公众号和营销推广平台，积累粉丝和顾客，实现线上线下闭环</h5>
          </div>
        </div>
      </div>
      <div class="section view-page view-page-4">
        <div class="container">
          <div class="content">
            <h1>业界领先的去硬件化研发理念</h1>
            <h5>支持95%以上的餐饮收银硬件，彻底解除软件供应商对商户的硬件绑架</h5>
          </div>
        </div>
      </div>
      <div class="section view-page view-page-5">
        <div class="container">
          <div class="content">
            <div class="row">
              <div class="col-sm-6">
              </div>
              <div class="col-sm-6">
                <%= image_tag("callme.png") %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="view-page-controls">
        <ul class="list-unstyled">
          <li><i v-bind:class="[currentPageNumber == 0 ? 'fa-circle' : 'fa-circle-thin']" class="fa view-page-control"></i></li>
          <li><i v-bind:class="[currentPageNumber == 1 ? 'fa-circle' : 'fa-circle-thin']" class="fa view-page-control"></i></li>
          <li><i v-bind:class="[currentPageNumber == 2 ? 'fa-circle' : 'fa-circle-thin']" class="fa view-page-control"></i></li>
          <li><i v-bind:class="[currentPageNumber == 3 ? 'fa-circle' : 'fa-circle-thin']" class="fa view-page-control"></i></li>
          <li><i v-bind:class="[currentPageNumber == 4 ? 'fa-circle' : 'fa-circle-thin']" class="fa view-page-control"></i></li>
        </ul>
      </div>
    </div>
  </body>
</html>
