<%= render 'navbar' %>
<% if not current_merchant.shop.blank? %>
  <% if @orders.count >= 1 %>
    <table class="table">
      <tbody>
      <% @orders.each do |order| %>
        <tr>
          <th scope="row"><%= order.sn %></th>
          <td>￥<%= order.total_price %></td>
          <td><%= order.takeout ? "外卖" : "本店" %></td>
          <td><%= order.room.name %></td>
          <td><%= order.worker.name if not order.worker.blank? %></td>
          <td>
            <a href="<%= edit_cpanel_order_path(order) %>" class="btn btn-primary-outline btn-sm">修改</a>
            <%= link_to "删除", cpanel_order_path(order), :class => "btn btn-primary-outline btn-sm", :method => :delete %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <p>
      还未生成任何订单，<a href="<%= new_cpanel_order_path %>">现在添加？</a>
    </p>
  <% end %>
<% else %>
<p>
  还未拥有店铺，<a href="<%= new_cpanel_shop_path %>">现在创建？</a>
</p>
<% end %>