<%= render 'navbar' %>
<% if not current_merchant.shop.blank? %>
  <% if @orders.count >= 1 %>
    <table class="table">
      <thead>
        <tr>
          <th>订单编号 <i class="fa fa-sort"></i></th>
          <th>时间 <i class="fa fa-sort"></i></th>
          <th>总额 <i class="fa fa-sort"></i></th>
          <th>外卖 <i class="fa fa-sort"></i></th>
          <th>台号 <i class="fa fa-sort"></i></th>
          <th>员工 <i class="fa fa-sort"></i></th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td>
            <a href="<%= cpanel_order_path(order) %>"><%= order.sn %></a>
            <% if order_unread?(order) %>
              <%= image_tag("new.gif") %>
            <% end %>
          </td>
          <td><%= formattime(order.created_at, :unit => 'noYear') %></td>
          <td>￥<%= order.total_price %></td>
          <td><%= order.takeout ? "是" : "否" %></td>
          <td><%= order.room.name %></td>
          <td><%= order.worker.name if not order.worker.blank? %></td>
          <td>
            <a href="<%= edit_cpanel_order_path(order) %>" class="btn btn-primary-outline btn-sm">修改</a>
            <%= link_to "删除", cpanel_order_path(order), :class => "btn btn-primary-outline btn-sm", :method => :delete %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= will_paginate @orders, renderer: BootstrapPagination::Rails %>
  <% else %>
    <p>
      还未生成任何订单，<a href="<%= new_cpanel_order_path %>">现在添加？</a>
    </p>
  <% end %>
<% else %>
<p>
  还未拥有店铺，<a href="<%= new_cpanel_shop_path %>">现在创建？</a>
</p>
<% end %>