<%= render 'navbar' %>
<% if @order.blank? %>
  此订单已经失效，<a href="<%= cpanel_orders_path %>">返回查看其他订单？</a>
<% else %>
<table class="table">
  <tbody>
    <% if @order.settled? %>
    <tr>
      <td colspan="4">
        <%= form_for [:cpanel, @order], :html => { :class => "form-inline" } do |f| %>
        <%= f.hidden_field :status, :value => 'completed' %>
        <div class="form-group">
          <label for="Collect">实收款：</label>
          <%= f.text_field :collect, :class => "form-control", :placeholder => "填写金额" %>
        </div>
        <%= f.submit "收 款", class: "btn btn-primary" %>
        <% end %>
      </td>
    </tr>
    <% end %>
    <tr>
      <td>
        订单号：<%= @order.sn %>
      </td>
      <td>总额：￥<%= @order.total_price %></td>
      <td>实收：¥<%= @order.collect %></td>
      <td>
        状态：<%= @order.status.text %>
      </td>
    </tr>
    <% if @order.order_products.count > 0 %>
    <tr>
      <td colspan="4">
        <table class="table">
          <thead>
            <th>
              #
            </th>
            <th>
              图片
            </th>
            <th>
              名称
            </th>
            <th>
              单价
            </th>
            <th>
              数量
            </th>
            <th>
              状态
            </th>
          </thead>
          <tbody>
            <% @order.order_products.each do |order_product| %>
            <tr>
              <td>
                <%= order_product.id %>
              </td>
              <td>
                <%= image_tag(order_product.product.avatar.url("80x80"), :alt=>"商品头像", :class=>"img-circle", :width => "40", :height => "40") %>
              </td>
              <td>
                <%= order_product.product.name %>
              </td>
              <td>
                ¥ <%= order_product.product.price %>
              </td>
              <td>
                <%= order_product.quantity %>
              </td>
              <td>
                <a href="<%= status_cpanel_order_product_path(order_product) %>" class="btn btn-primary-outline">
                  <%= order_product.status.text %>
                </a>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
