
  <% if @market_products.count >= 1 %>
    <table class="table">
      <thead>
        <tr>
          <td colspan="6">
            <a href="<%= new_cpanel_product_path %>" class="btn btn-primary-outline btn-sm">添加</a>
          </td>
        </tr>
      </thead>
      <tbody>
      <% @market_products.each do |product| %>
        <tr>
          <th scope="row">1</th>
          <td>
            <%= image_tag(product.avatar.url("80x80"), :alt=>"商品头像", :class=>"img-circle", :width => "40", :height => "40") %>
          </td>
          <td><%= product.name %></td>
          <td>￥<%= product.price %></td>
          <td>
            <a href="<%= edit_admin_product_path(product) %>" class="btn btn-primary-outline btn-sm">修改</a>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <p>
      还未添加任何菜色，<a href="<%= new_admin_market_product_path %>">现在添加？</a>
    </p>
  <% end %>