<% if @activity.blank? %>
  <div class="weui_msg">
    <div class="weui_icon_area"><i class="weui_icon_warn weui_icon_msg"></i></div>
    <div class="weui_text_area">
      <h2 class="weui_msg_title">页面加载错误</h2>
      <p class="weui_msg_desc">页面内容加载错误，请关闭页面！</p>
    </div>
    <div class="weui_opr_area">
      <p class="weui_btn_area">
        <a href="javascript:;" class="weui_btn weui_btn_primary">确定</a>
        <a href="javascript:;" class="weui_btn weui_btn_default">取消</a>
      </p>
    </div>
  </div>

<% else %>
  <div class="banner">
    <article class="weui_article font-color-white">
      <h1><%= @activity.shop.name %> - <%= @activity.title %></h1>
      <section>
        <p>
          <%= @activity.details %>
        </p>
      </section>
    </article>
  </div>

  <% if @target_user.blank? || @target_user == @user %>
    <% if @user.mobile.blank? %>
      <div class="bd">
        <div class="weui_cells weui_cells_form">
          <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
              <input v-model="user.mobile" class="weui_input" type="mobile" placeholder="输入手机号码">
            </div>
          </div>
        </div>
      </div>
      <div class="bd spacing">
        <div class="button_sp_area">
          <a class="weui_btn weui_btn_primary" v-on:click="binding">绑定</a>
        </div>
      </div>
    <% end %>
    <div class="bd spacing">
      <div class="button_sp_area">
        <a class="weui_btn weui_btn_primary" v-on:click="share">分享</a>
      </div>
    </div>
    <div class="weui_cells weui_cells_access">
      <a class="weui_cell" href="javascript:;">
        <div class="weui_cell_bd weui_cell_primary">
          <p><%= @user.nickname %></p>
        </div>
        <div class="weui_cell_ft">
          已收货 {{user.likes}} 个点赞！
        </div>
      </a>
    </div>
  <% end %>
  <% if @target_user.present? && @target_user != @user %>
    <div class="bd spacing">
      <div class="button_sp_area">
        <a class="weui_btn weui_btn_primary" v-on:click="like">为他点赞</a>
      </div>
    </div>
  <% end %>
  <div class="weui_cells_title">参加活动商品列表</div>
  <div class="weui_cells weui_cells_access">
    <% @activity.activity_products.each do |activity_product| %>
    <a class="weui_cell" href="javascript:;">
      <div class="weui_cell_hd">
        <img src="<%= activity_product.product.avatar.url("80x80") %>" alt="icon" style="width:20px;margin-right:5px;display:block">
      </div>
      <div class="weui_cell_bd weui_cell_primary">
        <p><%= activity_product.product.name %></p>
      </div>
      <div class="weui_cell_ft">
        <%= activity_product.amount %> 份
      </div>
    </a>
    <% end %>
  </div>
<% end %>
