<% if @advertisement.blank? %>
  <div class="weui_msg">
    <div class="weui_icon_area"><i class="weui_icon_warn weui_icon_msg"></i></div>
    <div class="weui_text_area">
      <h2 class="weui_msg_title">页面加载错误</h2>
      <p class="weui_msg_desc">页面内容加载错误，请关闭页面！</p>
    </div>
    <div class="weui_opr_area">
      <p class="weui_btn_area">
        <a href="javascript:;" class="weui_btn weui_btn_primary">确定</a>
        <a href="javascript:;" class="weui_btn weui_btn_default">取消</a>
      </p>
    </div>
  </div>

<% else %>

  <div class="banner">
    <article class="weui_article font-color-white">
      <h1><%= @advertisement.shop.name %> - <%= @advertisement.title %></h1>
      <section>
        <p>
          <%= @advertisement.content %>
        </p>
      </section>
    </article>
  </div>

  <div class="bd">
    <div class="weui_msg">
      <div class="weui_icon_area">
        <%= image_tag(@advertisement.shop.avatar.url("80x80")) %>
      </div>
      <div class="weui_text_area">
        <h2 class="weui_msg_title"><%= @advertisement.shop.name %></h2>
        <p class="weui_msg_desc"><%= @user.nickname %>，欢迎你！</p>
      </div>
    </div>
  </div>

  <div class="bd">
    <div class="weui_cells">
      <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
          <p>分享此广告到朋友圈就可获得广告分成</p>
        </div>
      </div>
    </div>
  </div>

  <% if @user.mobile.blank? %>
    <div class="bd">
      <div class="weui_cells weui_cells_form">
        <div class="weui_cell">
          <div class="weui_cell_bd weui_cell_primary">
            <input v-model="user.mobile" class="weui_input" type="mobile" placeholder="输入手机号码">
          </div>
        </div>
      </div>
    </div>
    <div class="bd spacing">
      <div class="button_sp_area">
        <a class="weui_btn weui_btn_primary" v-on:click="binding">绑定</a>
      </div>
    </div>
  <% end %>

  <div class="bd spacing">
    <div class="button_sp_area">
      <a class="weui_btn weui_btn_primary" v-on:click="checkForward">查看自己分成</a>
    </div>
  </div>

<% end %>
<% sign_package = @wechat_client.get_jssign_package(request.url) %>
<%= javascript_include_tag '//res.wx.qq.com/open/js/jweixin-1.0.0.js' %>
<script>
  wx.config({
    debug: false,
    appId: "<%= sign_package['appId'] %>",
    timestamp: "<%= sign_package['timestamp'] %>",
    nonceStr: "<%= sign_package['nonceStr'] %>",
    signature: "<%= sign_package['signature'] %>",
    jsApiList: [
      'onMenuShareTimeline',
      'onMenuShareAppMessage'
    ]
  });
  wx.ready(function () {
    wx.onMenuShareTimeline({
      title: '<%= @share_title %>',  // 分享标题
      link: '<%= @share_link %>',   // 分享链接
      imgUrl: '<%= @advertisement.avatar.url("80x80") %>', // 分享图标
      success: function () {
        // 用户确认分享后执行的回调函数
        alert("分享成功");
        $.ajax({
          type: 'PUT',
          url: 'http://www.jiancan.me/api/u1/shop_advertisements/forwarding.json',
          data: {
            shop_advertisement_id: <%= @advertisement.id %>,
            access_token: app.user.access_token
          },
          success: function(data){
            console.log("记录成功！");
          },
          error: function(xhr, type){
            var response = JSON.parse(xhr.response);
            console.log("网络错误：" + response.error);
          }
        });
      },
      cancel: function () {
        // 用户取消分享后执行的回调函数
      }
    });
    wx.onMenuShareAppMessage({
      title: '<%= @share_title %>', // 分享标题
      desc: '', // 分享描述
      link: '<%= @share_link %>', // 分享链接
      imgUrl: '<%= @advertisement.avatar.url("80x80") %>', // 分享图标
      type: '', // 分享类型,music、video或link，不填默认为link
      dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
      success: function () {
          // 用户确认分享后执行的回调函数
      },
      cancel: function () {
          // 用户取消分享后执行的回调函数
      }
    });
  });
  var app = new Vue({
    el: '#app',
    data: {
      user: {
        mobile: "<%= @user.mobile if @user.mobile.present? %>",
        access_token: "<%= @user.private_token %>"
      }
    },
    methods: {
      binding: function() {
        if (!app.user.mobile || app.user.mobile === null) {
          alert("电话号码不能为空！");
          return
        }
        $.ajax({
          type: 'PUT',
          url: 'http://www.jiancan.me/api/u1/users/current.json',
          data: {
            user: {
              mobile: app.user.mobile
            },
            access_token: app.user.access_token
          },
          success: function(data){
            app.$set("user.mobile", data.user.mobile);
            alert("绑定成功！");
          },
          error: function(xhr, type){
            var response = JSON.parse(xhr.response);
            alert("网络错误：" + response.error);
          }
        });
      },
      checkForwad: function() {

      }
    },
    ready: function() {
    }
  })
</script>
