<%= render 'navbar' %>
<% if not current_merchant.shop.blank? %>
  <% if @food_materials.count >= 1 %>
    <table class="table">
      <thead>
        <tr>
          <th># <i class="fa fa-sort"></i></th>
          <th>
            图片
          </th>
          <th>名称 <i class="fa fa-sort"></i></th>
          <th>
            存库量
          </th>
          <th>
            最少存库
          </th>
          <th>
            最大存库
          </th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
      <% @food_materials.each do |food_material| %>
        <tr>
          <td><%= food_material.id %></td>
          <td>
            <%= image_tag(food_material.avatar.url("80x80"), :alt=>"商品头像", :class=>"img-circle", :width => "40", :height => "40") %>
          </td>
          <td><%= food_material.name %></td>
          <td>
            <%= food_material.stock_balance %>
          </td>
          <td>
            <%= food_material.minimum_stock %>
          </td>
          <td>
            <%= food_material.maximum_stock %>
          </td>
          <td>
            <a href="<%= edit_cpanel_food_material_path(food_material) %>" class="btn btn-primary-outline btn-sm">修改</a>
            <%= link_to "删除", cpanel_food_material_path(food_material), :class => "btn btn-primary-outline btn-sm", :method => :delete, data: { :confirm => '删除后不能恢复，确定删除?' } %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= will_paginate @food_materials, renderer: BootstrapPagination::Rails %>
  <% else %>
    <p>
      还未添加任何分类，<a href="<%= new_cpanel_food_material_path %>">现在添加？</a>
    </p>
  <% end %>
<% else %>
<p>
  还未拥有店铺，<a href="<%= new_cpanel_shop_path %>">现在创建？</a>
</p>
<% end %>
