<%= render 'navbar' %>
<% if not current_merchant.shop.blank? %>
  <% if @products.count >= 1 %>
    <table class="table">
      <thead>
        <tr>
          <th># <i class="fa fa-sort"></i></th>
          <th>图片</th>
          <th>名称 <i class="fa fa-sort"></i></th>
          <th>价格 <i class="fa fa-sort"></i></th>
          <th>分类 <i class="fa fa-sort"></i></th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.id %></td>
          <td>
            <%= image_tag(product.avatar.url("80x80"), :alt=>"商品头像", :class=>"img-circle", :width => "40", :height => "40") %>
          </td>
          <td><%= product.name %></td>
          <td>￥<%= product.price %></td>
          <td><%= product.category.name %></td>
          <td>
            <a href="<%= edit_cpanel_product_path(product) %>" class="btn btn-primary-outline btn-sm">修改</a>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= will_paginate @products, renderer: BootstrapPagination::Rails %>
  <% else %>
    <p>
      还未添加任何菜色，<a href="<%= new_cpanel_product_path %>">现在添加？</a>
    </p>
  <% end %>
<% else %>
<p>
  还未拥有店铺，<a href="<%= new_cpanel_shop_path %>">现在创建？</a>
</p>
<% end %>