<% if current_merchant.shops.count >= 1 %>
  <% if @products.count >= 1 %>
    <table class="table">
      <thead>
        <tr>
          <td colspan="5">
            <a href="<%= new_cpanel_product_path %>" class="btn btn-primary-outline btn-sm">添加</a>
          </td>
        </tr>
      </thead>
      <tbody>
      <% @products.each do |product| %>
        <tr>
          <th scope="row">1</th>
          <td><%= product.name %></td>
          <td>￥<%= product.price %></td>
          <td><%= product.category.name %></td>
          <td>
            <a href="<%= edit_cpanel_product_path(product) %>" class="btn btn-primary-outline btn-sm">修改</a>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <p>
      还未添加任何菜色，<a href="<%= new_cpanel_product_path %>">现在添加？</a>
    </p>
  <% end %>
<% else %>
<p>
  还未拥有店铺，<a href="<%= new_cpanel_shop_path %>">现在创建？</a>
</p>
<% end %>