<!DOCTYPE html>
<html>
<head>
  <title>简餐</title>
  <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'admin', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="cpanel-page">
  <div class="header">
    <nav class="navbar navbar-light bg-faded">
      <div class="container">
        <a class="navbar-brand" href="#"><em>JianCan</em></a>
        <% if not current_admin.blank? %>
        <ul class="nav navbar-nav pull-right">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><%= current_admin.email %></a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">账 号</a>
              <div class="dropdown-divider"></div>
              <%= link_to "注 销", admin_session_path(current_admin), method: :delete, :class => "dropdown-item" %>
            </div>
          </li>
        </ul>
        <% end %>
      </div>
    </nav>
  </div>
  <br/>
  <%= yield %>
</body>
</html>
