<!DOCTYPE html>
<html>
<head>
  <title>简餐</title>
  <%= stylesheet_link_tag    'cpanel', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'cpanel', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="cpanel-page" data-controller-name="<%= controller_name %>">
  <div class="header">
    <nav class="navbar navbar-light bg-faded">
      <div class="container">
        <a class="navbar-brand" href="<%= root_path %>"><em><h3>JianCan</h3></em></a>
        <!--
        <ul class="nav navbar-nav info-bar">
          <li class="nav-item">
            <a class="nav-link" href="#">特点</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= cpanel_home_prices_path %>">价格</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= cpanel_home_about_path %>">关于</a>
          </li>
        </ul>
      -->
        <ul class="nav navbar-nav pull-center">
          <li class="nav-item">
            <form action="<%= search_cpanel_orders_path %>" class="navbar-form form-inline form-search" method="get">
              <div class="form-group">
                <input class="form-control" name="sn" type="text" placeholder="搜索订单..."/>
              </div>
              <i class="fa fa-search"></i>
            </form>
          </li>
        </ul><!--/.nav-collapse -->
        <% if merchant_signed_in? %>
        <ul class="nav navbar-nav pull-right merchant-bar">
          <li class="nav-item cart-count">
            <a href="<%= cpanel_cart_index_path %>" class="nav-link <%= 'new' if cart_market_product_count > 0 %>">
              <i class="fa fa-shopping-cart"></i>
              <span class="count" style="<%= 'display:inline;' if cart_market_product_count > 0 %>">
                <%= cart_market_product_count %>
              </span>
            </a>
          </li>
          <li class="nav-item notification-count">
            <a href="<%= cpanel_notifications_path %>" class="nav-link <%= 'new' if unread_notify_count > 0 %>">
              <i class="fa fa-bell-o"></i>
              <span class="count">
                <%= unread_notify_count %>
              </span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              <%= current_merchant.name.blank? ? current_merchant.email : current_merchant.name %>
            </a>
            <a class="navbar-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              <i class="fa fa-reorder"></i>
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="<%= edit_cpanel_merchant_path(current_merchant) %>">账 号</a>
              <div class="dropdown-divider"></div>
              <%= link_to "注 销", destroy_merchant_session_path, method: :delete, :class => "dropdown-item" %>
            </div>
          </li>
        </ul>
        <% end %>
      </div>
    </nav>
  </div>

  <br/>

  <div class="container">
    <%= notice_message %>

    <div class="row">
      <div class="col-sm-3">
        <div class="sidebar">
          <div class="list-group">
            <a href="<%= cpanel_shops_path %>" class="list-group-item <%= active_controller?("shops") %>">
              <i class="fa fa-sun-o"></i> 店铺管理
            </a>
            <% if not current_merchant.shop.blank? %>
            <a href="<%= cpanel_orders_path %>" class="list-group-item <%= 'new' if unread_notify_count > 0 %> <%= active_controller?("orders") %>">
              <span class="label label-default label-pill pull-right orderTips"><%= unread_notify_count %></span>
              <i class="fa fa-bars"></i> 订单管理
            </a>
            <a href="<%= cpanel_products_path %>" class="list-group-item <%= active_controller?("products") %>">
              <i class="fa fa-cutlery"></i> 菜色管理
            </a>
            <a href="<%= cpanel_food_materials_path %>" class="list-group-item <%= active_controller?("food_materials") %>">
              <i class="fa fa-tree"></i> 食材管理
            </a>
            <a href="<%= cpanel_rooms_path %>" class="list-group-item <%= active_controller?("rooms") %>">
              <i class="fa fa-cube"></i> 座位管理
            </a>
            <a href="<%= cpanel_categories_path %>" class="list-group-item <%= active_controller?("categories") %>">
              <i class="fa fa-sitemap"></i> 分类管理
            </a>
            <a href="<%= cpanel_workers_path %>" class="list-group-item <%= active_controller?("workers") %>">
              <i class="fa fa-user"></i> 员工管理
            </a>
            <a href="<%= cpanel_market_products_path %>" class="list-group-item <%= active_controller?("market_products") %>">
              <i class="fa fa-shopping-cart"></i> 采购商城
            </a>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="card card-block right-content">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" data-turbolinks-eval=false>
    <% if current_merchant %>
      App.current_merchant_id = <%= current_merchant.id %>;
      App.access_token = "<%= current_merchant.temp_access_token %>";
    <% end %>
  </script>
  <audio id='newOrderRing' src='http://dx.sc.chinaz.com/Files/DownLoad/sound1/201403/4204.mp3' />
</body>
</html>
