<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title><%= @shop.blank? ? "简餐" : @shop.name %></title>
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/0.3.0/weui.min.css"/>
    <%= stylesheet_link_tag 'weui-rails', media: 'all' %>
    <%= javascript_include_tag 'wechat' %>
</head>
<body>
  <div id="app">
    <div class="page">
      <%= yield %>
      <div class="fd">

      </div>
      <div class="weui_extra_area">
        <a href="http://www.jiancan.me">© 简餐网</a>
      </div>
    </div>
  </div>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        user: {
          mobile: "<%= @user.mobile if @user.mobile.present? %>",
          access_token: "<%= @user.private_token %>"
        }
      },
      methods: {
        like: function() {
          alert("click a like!");
        },
        binding: function() {
          alert("click a binding!");
          $.ajax({
            url: 'http://www.jiancan.me/api/u1/users/current.json',
            type: 'PUT',
            data: {
              user: {
                mobile: this.user.mobile
              },
              access_token: this.access_token
            },
            success:function(data) {
              alert("Data: " + data + "\nStatus: " + status);
            },
            error : function(data) {
              alert("Data: " + data + "\nStatus: " + status);
            }
          });
        }
      },
      ready: function() {
      }
    })
  </script>
</body>
</html>
